<a href="https://colab.research.google.com/github/alamtariq143/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

- 1. Code Reusability
- 2. Similar to procedures in SQL

In [ ]:
def calculate(a,b):
    print("The Sum:", a+b)
    print("The Difference:", a-b)
    print("The Product:", a*b)

calculate(20,10)

The Sum: 30
The Difference: 10
The Product: 200

### Types of Functions

- 1. Built-in Functions/ Predefined Functions
* Italic print(), eval(), type() *
- 2. User Defined Functions / Customsised Functions

In [ ]:
def wish():
    print("Hello friends, Good Evening!")

wish()
wish()

Hello friends, Good Evening!
Hello friends, Good Evening!

In [ ]:
#Parameter Statement

def wish(name):
    print('Hello', name, 'Good Morning!')

wish()

TypeError: wish() missing 1 required positional argument: 'name'

In [ ]:
def wish(name):
    print('Hello', name, 'Good Morning!')

wish('Sam')
wish('Ayaz')

Hello Sam Good Morning!
Hello Ayaz Good Morning!

**Exercise 1**

**WAF to take a number as input and print it's square value.**

In [ ]:
n = int(input("Enter a number: "))
def squared(n):
    print('The square value is', n*n)

squared()

In [ ]:
def squareit(n):
    sq = n*n
    print('The square of {} is : {}'.format(n,sq))

squareit(2)
squareit(3)
squareit(4)

The square of 2 is : 4
The square of 3 is : 9
The square of 4 is : 16

# 2. Return Statement

**Exercise 2**

**WAF to accept 2 numbers as input and return sum?**

In [ ]:
# Return Statement

def add(a,b):
    sum = a+b
    return sum

add(10,20) #Didn't call the function from return.

30

In [ ]:
def add(a,b):
    sum = a+b
    return sum

result  = add(10,20)

print('The sum:' , result)
print('The Sum:', add(10,20))

The sum: 30
The Sum: 30

**Exercise 3**

**WAF to find factorial of given positive int value?**

In [ ]:
def factorial(num):
    result = 1
    while num >= 1:
        result = result * num
        num = num - 1
    return result

print('The factorial of 3 is :', factorial(3))
print('The factorial of 3 is :', factorial(4))

The factorial of 3 is : 6
The factorial of 3 is : 24

In [ ]:
def factorial(num):
    result = 1
    while num >= 1:
        result = result * num
        num = num - 1
    return result
for i in range (1,6):
    print('The factorial of', i ,'is :', factorial(i))

The factorial of 1 is : 1
The factorial of 2 is : 2
The factorial of 3 is : 6
The factorial of 4 is : 24
The factorial of 5 is : 120

# 3. Returning Multiple Values from a Function

In [ ]:
def sum_sub(a,b):
    sum = a+b
    sub = a-b
    return sum, sub

x, y = sum_sub(30,20)
print("The Sum:",x)
print("The Difference:",y)

The Sum: 50
The Difference: 10

In [ ]:
def calc(x, y):
  sum = x + y
  sub = x - y
  mul = x * y
  div = x / y
  return sum, sub, mul, div

result = calc(20, 10)
print(type(result))
print(result)

for x in result:
  print(x)

<class 'tuple'>
(30, 10, 200, 2.0)
30
10
200
2.0

# 4. Type of Arguments : Positional Arguments

**Exercise 4**

**WAF to find factorial of given positive int value?**

```
# Difference between *args & ***kwargs
```
**args = Variable Length Arguments,
**args = Variable Length Keyword Arguments

In [ ]:
# *args

def f1(*m):
  print(m)
  print(type(m))

f1(10)
print(type(f1))

(10,)
<class 'tuple'>
<class 'function'>

In [ ]:
def f2(**n):
  print(n)
  print(type(n))

f2(a=10, b=20, c=30)
print(type(f2))

{'a': 10, 'b': 20, 'c': 30}
<class 'dict'>
<class 'function'>

In [ ]:
def f3(*args, **kwargs):
  print(args)
  print(type(args))
  print(kwargs)
  print(type(kwargs))

f3(10, 20, 30, 40, 50, a=100, b=200, c=300)

(10, 20, 30, 40, 50)
<class 'tuple'>
{'a': 100, 'b': 200, 'c': 300}
<class 'dict'>

In [ ]:
def f4(**kwarg, *args):
  print(kwarg)
  print(type(kwarg))
  print(args)
  print(type(args))

f4(a=10, b=20, c=30, d=40)

SyntaxError: invalid syntax (<ipython-input-15-8ba1847a581d>, line 1)